body {
  background: #001628;
  color: #777;
  padding: 4em;
  font-family: sans-serif;
  line-height: 1.15;
}

hr { /*dummy content*/
  height: 6px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
} 

hr:last-child {  /*dummy content*/
  margin-right: 60%;
}

hr.image { /*dummy content*/
  padding-bottom: 50%;
} 

.page {
  padding: 2em;
  background: #cecece;
  max-width: 1300px;
}

.archive {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-gap: 1em;
  grid-auto-flow: dense;
}

.article {
  padding: 1em;
  background: #fff;
  box-shadow:
    0 5px 10px rgba(0, 0, 0, 0.1),
    0 20px 20px rgba(0, 0, 0, 0.05);
}

.article::after {
  color: white;
  font-weight: bold;
  font-family: courier;
}

.article:nth-child(2) {
  grid-column: 2/-1;
  background: grey
}

.article:nth-child(2)::after {
  content: "2/-1";
}

.article:nth-child(8) {
  grid-column: 1/-2;
  background: grey
}

.article:nth-child(8)::after {
  content: "1/-2";
}


.article:nth-child(3)::after {
  content: "1/-1";
}

.article:nth-child(17) {
  grid-column: 2/-2;
  background: grey
}

.article:nth-child(17)::after {
  content: "2/-2";
}

.article:nth-child(24) {
  grid-column: 1/3;
  background: grey
}

.article:nth-child(24)::after {
  content: "1/3";
}

.article:nth-child(29) {
  grid-column: -3/-1;
  background: grey
}

.article:nth-child(29)::after {
  content: "-3/-1";
}

.article:nth-child(35) {
  grid-column: 2/-2;
  background: grey
}

.article:nth-child(35)::after {
  content: "2/-3";
}

.article:nth-child(42) {
  grid-column: 1/-1;
  background: grey
}

.article:nth-child(42)::after {
  content: "1/-1";
}

.article:nth-child(50) {
  grid-column: 3/-2;
  background: grey
}

.article:nth-child(50)::after {
  content: "3/-2";
}

/* COLOR -> ESTUDAR ISSO*/ 
.article:nth-child(31n + 1) {
  grid-column: 1 / -1;
  background: rgba(11, 111, 222, 0.5);
}

/* .article:nth-child(16n + 2) {
  grid-column: -3 / -1;
  background: rgba(128, 0, 64, 0.8);
}
*/
.article:nth-child(16n + 10) {
  grid-column: 1 / -2;
  background: rgba(128, 0, 64, 0.8);
}

/* Other shared syling */
.article:nth-child(8n + 2) {
  background: rgba(128, 0, 64, 0.8);
}

/* NAO ENTENDI */
.article {
  grid-column: span 3, autofit;
}

/* START - primeira animaçao */
#myDIV {
  /* width: 300px;
  hight: 200px; */
  border: 1px solid black;
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {border: 15px solid lightblue;}
}
/* END - primeira animaçao */

@media (max-width: 680px) {
  .archive {
    display: flex;
    flex-direction: column;
  }

  .article {
    margin-bottom: 2em;
  }
}